/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sobrescribiendo los estilos de Bootstrap */
.navbar {
    background-color: #333; /* Establece un color de fondo oscuro */
    border-color: #444; /* Borde ligeramente más claro que el fondo */
}

.navbar-brand {
    color: #eee; /* Color claro para el texto del título */
}

.navbar-light .navbar-nav .nav-link {
    color: #ddd; /* Color claro para los enlaces */
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff; /* Color blanco para los enlaces al pasar el mouse */
    }

/* Estilos para el contenedor principal */
.container {
    background-color: #f8f8f8; /* Fondo claro para el contenido principal */
    color: #333; /* Color oscuro para el texto */
}

/* Estilo para mejorar la legibilidad del contenido */
.main {
    padding: 20px; /* Añade padding para espacio interno */
    border: 1px solid #ddd; /* Borde sutil */
}

/* Estilos para el pie de página */
.footer {
    background-color: #333; /* Fondo oscuro para el footer */
    color: #ccc; /* Texto en color claro */
    padding: 10px 0; /* Padding vertical para el footer */
}

    .footer a {
        color: #fff; /* Enlaces en blanco para contrastar con el fondo oscuro */
    }

        .footer a:hover {
            color: #ffd700; /* Cambio a color dorado al pasar el mouse */
        }
