@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3> Implementación de un monolito con patron MVC y DAO</h3>
    <p> Para el desarrollo del laboratorio se realizaron los endpoints y las vistas para un CRUD que trabaja con el siguiente stack tecnológico: 
        <lu>
            <li>.NET 7</li>
            <li>MS SQL Server</li>
            <li>REST</li>
            <li>Swagger 3</li>
        </lu>
        
        Desarrollado por David Guasca y Gabriela Ramirez.
    </p>
</div>
